<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Lien du css-->
    <link rel="stylesheet" href="#">
    
    <title>Students</title>
</head>
<body>
    <!--Le header -->
     <header><span>Etudiant</span> 
    <ul>
        <li style="list-style:none";>
            Compte
        </li>
        <li style="list-style:none">
            Emploi du Temps
        </li>
    </ul>
    </header>
    
</body>
</html>
