{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
    

{% if validlink %}
    
    <h3>Entrez un nouveau mot de passe</h3>
    <center>
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{form}}
    <input type="submit" name="Update Password">
</form>

</center>

{% else %}
<h3>the link you enter isn't valid </h3>

{% endif %}
<script src="{% static 'js/password_reset.js' %}">
</script>
</body>
</html>